*{
  margin:0;
  padding:0;
  box-sizing:boder box;
  }
  body{
	  background-image: url("image.jpeg");
	  background-size:cover;
	  background-blend-mode:overlay;
	  background-color:#3d3d61;
  }
  
  
  
.container{
	width:90%;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.col1{
	/* margin-top:20px; */
	width:20%;
}
.flex{
	display:flex;
	color:red;
}
#font{
	font-size:35px;
}
.col2{
	width:60%;
}
ul li a{
	text-decoration:none;
	color:white;
}
li{
	list-style:none;
}

.ul{
	display:flex;
	justify-content:space-evenly;
}
.col3 a{
	text-decoration:none;
	
}
section{
	text-align:center;
}
.col3 a button{
	padding:10px 30px;
	background-color:red;
	color:white;
    border-radius:20px;
}
section{

	text-align:center;
}
  
  
  
	  